html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}



body { 
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 1;
    
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
  html {
  box-sizing: border-box;
    
    background-image: url("../img/graph/background.svg");

    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

/** HERE STARTS THE STYLING **/

body{
    background-color: #191919;
    color: #f9f9f9;
    
    background-image: url("../img/graph/background.svg");

    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 24px 0;
}



div.logoImg{
    position: absolute;
    z-index: 50;
    display: flex;
    padding-top:45px;
    justify-content: center;
}

.logoImg a img{
    height: 24px;
}

p.timeLeftTime,p.timeLeftHeaderP{
    text-align: center;
}

p.timeLeftHeaderP{
    font-size: 48px;
    margin: 20px 0;
}

p.timeLeftTime{
    font-size: 54px;
    margin: 20px 0 80px 0;
}

a.timeLeftA, a.timeLeftA:link{
    display: flex;
    justify-content: center;
    color: #F9F9F9;
    width: 100%;
    text-decoration: none;
    font-size: 32px;
    margin: 20px 0 90px 0;
}
a.timeLeftA p{
    border-bottom: 2px solid #f9f9f993;
}

a:-webkit-any-link{
/*    text-decoration: none;*/
}

a.viewMoreA{
    display: flex;
    justify-content: center;
    color:#f9f9f9;
    text-decoration:none;
    font-size: 32px;
    width: 200px;
    margin: 20px auto 90px auto;
}
a.viewMoreA p{
    
    border-bottom: 2px solid #f9f9f993;
}
form.contactForm input{
    padding: 0;
    border: 0;
    display:block;
    margin: 25px auto;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    
}

form.contactForm textarea{
    padding: 0;
    border: 0;
    height: 240px;
    display:block;
    margin: 10px auto;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    
}
form.contactForm button{
    padding: 0;
    border: 0;
    display: block;
    margin: 30px auto 90px auto;
    font-size: 32px;
    background-color: transparent;
    color: #f9f9f9b3;
    font-weight: 300;
    border-bottom: 2px solid #f9f9f9b3;
    font-family: 'Work Sans', sans-serif;
    
}

.nav-list li:nth-of-type(1){
    float: left;
}
.nav-list li:nth-of-type(2){
    float: right;
}

.upcommingEventsContent div, .pastEventsContent div{
    margin: 35px 0;
}

.upcommingEventsContent div div.infoContent, .pastEventsContent div div.infoContent{
    text-align: center;
    width: 90%;
    display: block;
    margin: 0 5%;
}

.upcommingEventsContent div div.infoContent hr, .pastEventsContent div div.infoContent hr{
    border: 0;
/*    background-color: #f9f9f9;*/
    border-bottom: 2px solid #f9f9f973;
}

.upcommingEventsContent div div.infoContent p:nth-of-type(1), .pastEventsContent div div.infoContent p:nth-of-type(1){
    font-size: 32px;
    font-weight: 300;
    margin: 10px 5%;
}

.upcommingEventsContent div div.infoContent p, .pastEventsContent div div.infoContent p{
    width: 90%;
    margin: 10px 5%;
}

.rocketImg{
    height: 64px;
    display: block;
    margin: 0 auto;
}

.upcommingEventsContent, .pastEventsContent{
    max-width: 900px;
    margin: 0 auto;
}

form.contactForm input{
    height: 40px;
    background-color: transparent;
    border-bottom: 2px solid #f9f9f973;
    color:#f9f9f9;
/*    background: url(../img/graph/rocketNext.svg) no-repeat scroll 100% 0px;*/
    transition: 0.3s;
}

form.contactForm input{
        background: url(../img/graph/WHITEtranspSUCCESSsvg.svg) no-repeat scroll 115% -4px;

}

form.contactForm input:focus{
        background: url(../img/graph/WHITEtranspSUCCESSsvg90Transp.svg) no-repeat scroll 115% -4px;

}
/*
form.contactForm input:nth-child(3){
        background: url(../img/graph/WHITEtranspSUCCESSsvg.svg)     no-repeat scroll 100% -4px;

}
*/
form.contactForm textarea.textAreaContactForm{
/*    height:100%;*/
    background-color: transparent;
    border-bottom: 2px solid #f9f9f973;
    color:#f9f9f9;
    transition: 0.3s;
}

form.contactForm input:focus, form.contactForm textarea.textAreaContactForm:focus{
    border-bottom: 2px solid #f9f9f9;
    transition: 0.3s;
}

.showMoreInfoDivDiv{
    height: auto;
    position: fixed;
/*    margin-top: 3000px;*/
/*    background: url(../img/graph/rocketBox.svg) no-repeat 50%;*/
    background-size: cover;
    background-position: top;
    width: 60%;
    z-index: 251!important;
    overflow-y: scroll;
    margin: 0 20% 0 20%;
    max-height: 70%;
    background-color: #f9f9f9f9;
    color: #292929;
    transition: 0.2s;
}


.showMoreInfoDivDiv h2{
    font-weight: 300;
    margin: 50px 0 5px 0;
}

.showMoreInfoDivDiv h3{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin: 0px 35px 10px 35px;
}

.showMoreInfoDivDiv p.launchsiteP{
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0;
}

.showMoreInfoDivDiv p{
    font-size: 26px;
    font-weight: 200;
    text-align: center;
    margin: 5px 70px 0 70px;
}

.showMoreInfoDivDiv .collum-tablet-6{
    display: flex;
    justify-content: center;
}
.showMoreInfoDivDiv .collum-tablet-6 p{
    margin: 0;
    display: inline-block;
}
.showMoreInfoDivDiv .collum-tablet-6 a{
    margin: 20px auto;
    padding: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    opacity: 0.8;
    color:#191919;
    border-bottom: 2px solid #19191939;
    text-decoration: none;
    transition: 0.3s;
    

}
.showMoreInfoDivDiv .collum-tablet-6 a .rocketImg{
    height: 48px;
    display: inline-block;
    margin: 0;
    margin-left: 6px;
    

}
.showMoreInfoDivDiv .collum-tablet-6 a:hover{
/*    background-color: #efefef;*/
    border-bottom: 2px solid #191919;
    color:#191919;
    transition: 0.3s;
    opacity: 1;
    

}



.showMoreInfoDivBackground{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:transparent;
    z-index: 100;
    transition: 0.5s;
}


img.exitMoreInfo{
    position: absolute;
    right: 0;
    margin: 40px 80px 0 0;
    float: right;
    display: block;
    width: 80px;
    z-index: 500!important;
    transition: 0.5s;
}

.showMoreInfoH2{
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 auto;
    color:#292929;
}

.showMoreInfoH3{
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 auto;
    color:#292929;
}

.InfoBannerImg{
    display: block;
    margin: 0 auto;
    position: relative;
/*    height: 6%!important;*/
    max-width: 50%;
}

.changeTimelineSelect{
    display: block;
    border: 0;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color:#f9f9f9D7;
    line-height: 1;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #f9f9f973;
}

.changeTimelineSelect option{
    float: right;
    border: 0;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color:#292929;
    line-height: 1;
    background-color: #f9f9f9;
}

.selectOptionSort label{
    
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color:#f9f9f9D7;
    line-height: 1;
    margin: 6px;
}


.selectOptionSort{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    height: 40px;
}

.timelineHeader2{
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 300;
}

.timelineDateP{
    font-size: 22px;
    margin: 5px 0 15px;
    text-align: center;
}

.timelineDetailsP{
    font-size: 28px;
    margin: 5px 0 15px;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.4;
    width: 70%;
}

.barrierTimeline{
    height: 75px;
    width: 2px;
    display: block;
    margin: 50px auto;
    opacity: 0.8;
    background-color:#f9f9f9b3;
}

.timelineHeader3{
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin: 25px 35px 10px 35px;
}

.linksTimeline{
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.linksTimeline .collum-tablet-6{
    display: flex;
    justify-content: center;
}

.linksTimeline .rocketImg{
    height: 48px;
    display: inline-block;
    margin: 0;
    margin-left: 6px;
}

.linksTimeline a{
    margin: 20px 16.66666666666667%;
    padding: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 66%;
    opacity: 0.8;
    color:#f9f9f9;
    border-bottom: 2px solid #f9f9f9b3;
    text-decoration: none;
    transition: 0.3s;
}

footer{
    background-color: #00000089;
    padding: 50px 0 150px;
    margin-top: 150px;
}
footer img.footerLogo{
    max-width: 600px;
}

footer h3{
    font-size: 34px;
}
footer p, footer a{
    font-size: 22px;
    position: relative;
    left:20px;
    width: 90%;
    color:#f9f9f9;
    margin: 0;
    padding: 0;
}

footer hr{
    width:100%;
    color: #f9f9f937;
    display: block;
    position: relative;
    opacity: 0.6;
    margin-top: 50px;
    margin-bottom: 100px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media only screen and (max-width: 1000px){
 

footer .collum-computer-4{
    display: block;
    margin: 0;
    margin: 0 auto 25px auto;
    max-width: 450px!important;
}   
    .inputContactForm{
        width: 65%;
    }
    
footer img.footerLogo{
    max-width: 500px;
}
    
}
@media only screen and (max-width: 769px){
    .pastEventsContent{
        width: 100%;
    }
    .selectOptionSort{
        display: block;
        width: 90%;
        margin: 0 auto;
        height: 40px;
    }

}