html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}



body { 
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 1;
    
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
  html {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

/** HERE STARTS THE STYLING **/

body{
    background-color: #191919;
    color: #f9f9f9;
    
    background-image: url("../img/graph/background.svg");

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 24px 0;
}



div.logoImg{
    position: absolute;
    z-index: 100;
    display: flex;
    padding-top:45px;
    justify-content: center;
}

.logoImg a img{
    height: 24px;
}

p.timeLeftTime,p.timeLeftHeaderP{
    text-align: center;
}

p.timeLeftHeaderP{
    font-size: 48px;
    margin: 20px 0;
}

p.timeLeftTime{
    font-size: 54px;
    margin: 20px 0 80px 0;
}

a.timeLeftA, a.timeLeftA:link{
    display: flex;
    justify-content: center;
    color: #F9F9F9;
    width: 100%;
    text-decoration: none;
    font-size: 32px;
    margin: 20px 0 90px 0;
}
a.timeLeftA p{
    border-bottom: 2px solid #f9f9f993;
}

a:-webkit-any-link{
/*    text-decoration: none;*/
}

a.viewMoreA{
    display: flex;
    justify-content: center;
    color:#f9f9f9;
    text-decoration:none;
    font-size: 32px;
    margin: 20px 0 90px 0;
}
a.viewMoreA p{
    
    border-bottom: 2px solid #f9f9f993;
}
form.contactForm input{
    padding: 0;
    border: 0;
    display:block;
    margin: 25px auto;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    
}

form.contactForm textarea{
    padding: 0;
    border: 0;
    display:block;
    margin: 10px auto;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    
}
form.contactForm button{
    padding: 0;
    border: 0;
    display: block;
    margin: 20px 0 90px 0;
    margin: 0 auto;
}

.nav-list li:nth-of-type(1){
    float: left;
}
.nav-list li:nth-of-type(2){
    float: right;
}

.upcommingEventsContent div{
    margin: 35px 0;
}

.upcommingEventsContent div div.infoContent{
    text-align: center;
    width: 90%;
    margin: 0 5%;
}

.upcommingEventsContent div div.infoContent hr{
    border: 0;
/*    background-color: #f9f9f9;*/
    border-bottom: 2px solid #f9f9f973;
}

.upcommingEventsContent div div.infoContent p:nth-of-type(1){
    font-size: 32px;
    font-weight: 300;
    margin: 10px 0;
}

.upcommingEventsContent div div.infoContent p{
    width: 90%;
    margin: 10px 0;
}

.rocketImg{
    height: 64px;
    display: block;
    margin: 0 auto;
}

.upcommingEventsContent{
    width: 900px;
    margin: 0 auto;
}

form.contactForm input{
    height: 40px;
    background-color: transparent;
    border-bottom: 2px solid #f9f9f973;
    color:#f9f9f9;
/*    background: url(../img/graph/rocketNext.svg) no-repeat scroll 100% 0px;*/
    transition: 0.3s;
}

form.contactForm input{
        background: url(../img/graph/WHITEtranspSUCCESSsvg.svg) no-repeat scroll 115% -4px;

}

form.contactForm input:focus{
        background: url(../img/graph/WHITEtranspSUCCESSsvg90Transp.svg) no-repeat scroll 115% -4px;

}
/*
form.contactForm input:nth-child(3){
        background: url(../img/graph/WHITEtranspSUCCESSsvg.svg)     no-repeat scroll 100% -4px;

}
*/
form.contactForm textarea.textAreaContactForm{
    height:100%;
    background-color: transparent;
    border-bottom: 2px solid #f9f9f973;
    color:#f9f9f9;
    transition: 0.3s;
}

form.contactForm input:focus, form.contactForm textarea.textAreaContactForm:focus{
    border-bottom: 2px solid #f9f9f9;
    transition: 0.3s;
}